@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
* {
    box-sizing: border-box; 
}

.free-shipping {
    position: fixed;
    top: 0; 
    width: 100%;
    background-color: rgb(32, 32, 32); 
    color:white; 
    padding: 10px; 
    font-family: Raleway; 
    font-size: 15px; 
    z-index: 100;
    
}
.top-navigation-bar {
    background-color: white; 
    position: fixed;
    width: 100%; 
    top: 38px; 
    text-align: center; 
    z-index: 99;
    
 

}
#move-right {
    float: right;
    margin-right: 30px;  
}
#nobull-logo {
    padding: 15px;
    float: left;
    width: 150px;
    height:auto; 
}

ul {
    list-style: none; 
  
}
li { 
    display: inline-block; 
    padding: 15px; 
    font-family: Raleway; 

}
#M-T-declaration { 
    font-family: Raleway; 
    margin-top: 150px; 


}
.grid-wrapper {
    display: grid; 
    grid-template-columns: 400px 400px; 
    grid-auto-flow: dense; 
    grid-gap: 10px; 
     
}  

.shoeimage {
    display: block;  
    width:375px; 
    height:250px; 
    padding-bottom: 40px; 
    
}
.shoeimage * { 
    position: absolute;  
    width: 375px; 
    height: 250px; 
}
.shoeimage iframe { 
    visibility: hidden; 
}
/* css */ 
.shoeimage:hover iframe {
    visibility: visible; 
}
/* js option
#bh-video.visible { 
    visibility: visible; 
}
*/
.shoeimage.shadow {
    box-shadow:rgb(53, 53, 165) 5px 5px 10px; 
}

.shoe-title {
    font-family: Raleway;
    font-size: 18px; 
    margin: 6px; 
}
.shoe-item-details {
    font-family: Raleway; 
}


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown:hover .dropdown-content {
      display: block;
    }

/* Links inside the dropdown */
.dropdown-content a {
    cursor: pointer; 
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover { 
    text-decoration: underline; 
}


footer {
    display: block; 
    background-color: rgb(32, 32, 32);
    text-align: center; 
}
#working-hard-message {
    display: block; 
    color: white;
    font-family: Raleway; 
    font-size: 28px; 
    text-transform: uppercase;
    font-weight: 600; 
    padding: 30px; 

    

}
.submit-email {
    display: inline-block;
    text-align: center;
    padding: 30px;
    margin-bottom: 50px;

}

.submit-email input {
    width: 250px; 
    height: 35px; 
    font-size: 20px; 
}
#sign-up { 
    background-color: black; 
    color: white; 
    width: 100px; 
    height: 35px; 
}